 *{
    padding: 0;
    margin: 0; 
     box-sizing: border-box; 
} 
body{
    background: #000000;
    color: #eee;
    font-size:15px;
    line-height: normal;
    letter-spacing: normal;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
    -ms-overflow-style: scrollbar;
    overflow-y: scroll;
    overscroll-behavior-y: none;


}


header{
  display: none;
 } 

.layout{
  display: grid;
  grid-template-columns: 23% 44% 33%;
  margin: 0 auto;
  font-family: "Times New Roman";
   

}
.box{
    display: flex;
}
p, .tweet-content{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: start;
    letter-spacing: normal;
    color: #e7e9ea;
}
h4{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-align: start;
    font-weight: 300;
}

.first-container{
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: -1px;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    
    
}     
.first-container:hover {
    background: rgb(19, 18, 18);
}
.dp{
    size: 20px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgba(26, 26, 26, 0.15);
    box-shadow: rgb(255 255 255 / 3%);
    /* margin-left: 2px; */
}
.sec-dp{
    size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-right: 10px;
    
}
.second-sec:hover{
    /* padding-top: -50px; */
    /* background: rgb(43, 42, 42); */
    
}

.tweet_username{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: start;
    letter-spacing: normal;
    color: #e7e9ea;
  
  }
.tweet_username:hover{
   text-decoration: underline;
   cursor: pointer;
}
.tweet-at{
color: #71767b;
font-size: 15px;

}
.tweet-time{
  color: #71767b;
font-size: 15px;
/* top: -5px;
left: 105%; */
}

.user-all{
  display: flex;
}
.tweet-time:hover{
   border-radius: 50%;
  
}
.tweet-time:hover{
  text-decoration: underline;
  /* align-items: flex-end; */
  
}

.date{
  display: none;
  color: white;
  background-color: #71767B;
  padding: top 3px; 
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 13px;
  /* position: fixed; */
  border-radius: 3px;
  /* top: -5px;
  left: 105%; */
  /* align-self: center; */
}

p:hover + .date{
 display:block;
 position: absolute; 
 top: -5px;
 left: 105%;
 text-align: center;

}



.tweet-image{
width: 100%;
/* margin: 127px 17px 45px 61px; */

} 

.tweet-icons{
    display: flex;
    color: #71767b;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 15px;
    margin-bottom: 0px;
    
      
}
.reply{
    display: flex; 
    color: white;
    fill: white;
        
     
}
.div-rep{
    display: none;
    color:#e7e9ea;
    background-color: #71767b;

}

a:hover + .div-rep{
    display: block;
}

.main-mor:hover{
  /* color:#10486b; */
  border-radius: 50%;
   background-color: #16181c
  /* opacity: 0.6;  */
}
.main-mor .more:hover{
  filter: invert(72%) sepia(54%) saturate(6995%) hue-rotate(179deg) brightness(98%) contrast(92%);
}

.mor-txt{
  display: none;
  color: white;
  background-color: #71767B;
  padding: top 3px; 
  padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 13px;
  position: fixed;
  border-radius: 3px;
  align-self: center;
}

a:hover + .mor-txt{
 display:block;
 position: absolute; 

}





.reply:hover .svg-icon{
  filter: invert(72%) sepia(54%) saturate(6995%) hue-rotate(179deg) brightness(98%) contrast(92%);
}
.reply:hover .blue{
   color: #1d9bf0;
}

.like:hover .svg-icon 
  { filter: invert(22%) sepia(95%) saturate(3571%) hue-rotate(319deg) brightness(97%) contrast(101%); }
    
.like:hover .pink {
     color: #f91880;
   }

.retweet:hover .svg-icon{
  filter: invert(65%) sepia(96%) saturate(3892%) hue-rotate(125deg) brightness(94%) contrast(101%);
} 
.retweet:hover .green{
    color:#00ba7c;
}
  
.share:hover .svg-icon{
  filter: invert(72%) sepia(54%) saturate(6995%) hue-rotate(179deg) brightness(98%) contrast(92%); 
}

.share:hover .blue{
  color: #1d9bf0; 

}


.retweet, .like, .share{
    display: flex;
    justify-content: space-between;
}


.hannah{
    display: flex;  
    justify-content: space-between;
} 
.more-one{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 10px;
}

.show{
   color: #f91880;
   padding-top: 13px;
}
.second-sec{
    display: flex;
    padding-bottom: 12px;
    
}

.pink, .green, .blue{
    padding-left: 15px;
    text-decoration: none;
}


/* Style for the profile card */

.card-container{
    height: 54vh;
    width: 30%;
    background-color: #000000;
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none; 
    z-index: 1;
   }

.card{
    box-shadow: 1px 1px 10px 1px #71767b;
    border-radius: 10px;
    padding:20px; 
    
   } 
 .tee:hover .card-container{
    /* visibility: visible; */
    display:block;
 }
.main-profile{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}   
.user-info{
    display: flex;
}
.user-info img{
    width: 100px;
    border-radius: 50%;
}
.user-info h3{
    font-size: 1.3rem;
}

.user-info p{
    color:#71767b;
}

.follow-btn button{
    font-size: 1.5rem;
    /* border: 3px solid #e7e9ea; */
    border-radius: 25px;
    background-color: #e7e9ea;
    padding: 8px 15px;
    margin: 5px;
    font-weight: medium;
    font-size: 15px;
    color: black;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.follow-btn button:hover{
   background-color: #d6d9db;
}

.user-bio{
    color: #e7e9ea;
    margin-bottom: 10px;
}
.user-bio a{
    color: #f91880;
    text-decoration: none;
}

.user-bio a:hover{
    text-decoration: underline;
}

.user-follows{
    display: flex;
    color: #71767b;
}
.user-follows div{
   margin-right: 10px;
}

.user-follows b{
    color: #e7e9ea;
    padding-right: 5px;
}
.user-follows div:hover{
    text-decoration: underline;
}

.a-link{
    color:#f91880;
    font-weight: lighter;
}
.a-link:hover{
    text-decoration: underline;
}
.link-link{
    font-weight:lighter ;
}

.link-link:hover{
    text-decoration: underline;
}

.bio-info{
    color: #e7e9ea;
}


/* Tomi CSS */




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
  
  
  body{
    background-color: black;
    /* color: white; */
  }

  
  .third-container{
   
  border: 0 solid black;
  background-color: #000000;
    font-size: 15px;
  /* min-height: 1497px; */
  position: relative;
    padding-top: 12px;
  padding-bottom: 12px;
   /* position: sticky; */
  }
  
  
  .search-container{
    width: 350px;
    margin-left: 35px;
  display: flex;
  flex-direction: row;
  background-color: #16181c;
  border-bottom-color:   rgb(118, 118, 118);
    border-right-color:  rgb(118, 118, 118);
    border-top-color:  rgb(118, 118, 118);
    border-left-color:  rgb(118, 118, 118);
    border-radius: 15px;
  /* border: 1px dotted yellow; */
  }
  
  
  .search-container:active{
    border: 2px solid blue;
  }
  
  
  .form-input{
    font-size: 15px;
    background-color: #16181c;
    color: white;
    /* background-color: blue; */
    width: 355px;
    margin-left: 5px;
    padding: 12px;
    font-weight: 400;
    border: none;
    /* width: 350px; */
    margin-right: 20px;
    appearance: none;
    outline-style: none;
    
  } 
  
  
  .search-img{
    /* color:rgb(113, 118, 123); */
    color: yellow;
    margin-left: 20px;
  }
  
  
  
  
  
  .trends-for-you-page{
    /* border: 2px dotted yellow; */
    width: 350px;
    border-radius: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
  
    margin-left: 35px;
    height: 900px;
    /* margin-right: 10px; */
    /* margin: 12px; */
    background-color: #16181c;
    margin-right: 20px;
  }
  
  
  
  
  
  .trends-for-you--block{
    border: 0 solid black;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    /* border: 1px dotted yellow; */
    /* background-color: red; */
    line-height: 20px;
    
  }
  
  
  .trends-for-you--block:hover{
    cursor: pointer;
    
    /* background: rgb(85, 80, 80); */
    background:  #1D1F23; 
    /* opacity: 0.5; */
  
  }
  
  
  
  
  
  .trends-for-you--blok{
    border: 0 solid black;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    /* border: 1px dotted yellow; */
    /* background-color: red; */
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
    
  }
  
   .trends-for-you-heading{
    font-size: 20px;
    font-weight: 800;
    color: #e7e9ea;
    line-height: 24px;
    font-family: inherit;
    /* border: 1px dotted yellow; */
    
    /* padding-top: 12px;
    padding-left: 16px;
    padding-right:16px ;
    padding-bottom:12px ; */
  
  
  }
  
  .trends-for-you-meta-information{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #657786;
    /* color: #43464b; */
    /* color: #5c6065; */
    /* color: rgb(231, 233, 234); */
    
    font: inherit;
    
    /* border: 5px dotted yellow; */
    /* margin: 20px; */
  
  }
  
  .trends-for-you-trends-name{
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    /* border: 1px dotted yellow; */
    /* color: #e2e4e5; */
    color:  rgb(231, 233, 234);
    /* font-family: inherit; */
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, He;
    /* margin-bottom: 5px; */
    /* margin-top: 2px; */
  
  }
  
  
  
  
  a{
    text-decoration: none;
    
  }
  
  
   .show-more-div{
    /* border: 1px dotted yellow; */
    /* padding: 10px; */
    margin-top: 10px;
  
  }
  
  
  .show-more-text{
    color: #1d9bf0;
    line-height: 20px;
  }
  .img-p:hover{
    /* color:#10486b; */
    border-radius: 50%;
     background-color: #16181c
    /* opacity: 0.6;  */
  }
  .img-p .more-color:hover{
    filter: invert(72%) sepia(54%) saturate(6995%) hue-rotate(179deg) brightness(98%) contrast(92%);
  }
  
  .div-p{
    display: none;
    color: white;
    background-color: #71767B;
    padding: top 3px; 
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 13px;
    position: fixed;
    border-radius: 3px;
    align-self: center;
  }
  
  a:hover + .div-p{
   display:block;
   position: absolute; 
  
  }
 
  a:hover{
    /* color: red; */
     /* background: red;  */
    box-shadow: #1d9bf0;
  } 
  



/* IDRIS CSS */

.second-layout{
  /* padding: 15px; */
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}

.picture{
  border-radius: 50%;
  cursor: pointer;
}

.Text{
  cursor: pointer;
}

.tweet_H1{
  display: flex;
  /* align-items: center; */
  /* flex-direction: row; */
  justify-content: space-between;
  /* margin-bottom: 0px; */
  padding: 15px 15px 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  /* position: fixed; */
  z-index: 1;
  top: 2;
}


.tweet_H2{
  display: flex;
  /* border: 3px dotted yellow; */
  padding: 0px 15px 15px 15px;
  
  /* justify-content: space-around; */

}
.tweet_H3{
  display: flex;
  /* text-align: center; */
  /* padding-left: 60px; */
  padding: 5px 15px 15px 70px;
  justify-content: space-between;
  /* border: 1px solid #ccc; */

}
.Main_Button{
  padding: 10px;
  width: 85px;
  /* padding-top: 5px; */
  /* padding-right: 0px; */
  float: right;
  /* border-radius: 50%; */
  cursor: pointer;
  color: white;
  border-radius: 20px;
  background-color: #f91880;
  /* border-bottom: 1px solid #ccc; */
  font-weight: bolder;
  font-size: 15px;
  opacity: 0.5;
  border: none;
  outline: 0;
}


.Show_Tweet{
  color: #f91880;
  text-align: center;
  border-top: 1px solid #888;
  padding: 15px;
  /* font: 10px; */
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif;
  /* font-weight: 500; */
  /* font-stretch: 100px; */
  /* overflow-wrap: break-word; */
}

.wh{
  /* border: 3px dotted red; */
  padding: 10px;

}
.wh__{
  width: 600px;
  height: 25px;
  background-color: transparent;
  border: none;
  outline-style: none;
  color: white;
  font-size: 20px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif;
}
.svg1{
  padding: 6px;
  display: inline-block;
  cursor: pointer;
}
.wh > ::placeholder{
  font-size: 20px;
}
._svg{
  border-radius: 50%;
 cursor: pointer;
 /* background-color: #f1f1f1; */
 padding: 7px;
}
.svg1:hover{
  background-color: #2e0518;
  border-radius: 70%;
  /* opacity: 1; */
}
._svg:hover{
  background-color:rgb(48, 47, 47);
  /* color: white; */
  border-radius: 50%;
  opacity: 1;
}  


/* Yelex's Sectio */
.main-navbar{
  margin-top: 15px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif;
  position:fixed;
  /* top: 1px; */
}

.nav-wrapper{
  width:9%;
  margin-left: 22%;
  filter: brightness(0) invert(1);
  margin-bottom: 10px;
}  

.nav-wrapper{
  cursor: pointer;
}

/* div p:hover{
  display: block;
} */

.span-img{
  margin-right: 20px;
  text-align: start;
  /* margin-left: 15%; */
  width: 26px;
  filter: brightness(0) invert(1);
}


div ul li{
  list-style: none;
}

.span-a{
  text-decoration: none;
  color: #E7E9EA;
  text-align: start;
  font-size: 20px;
}

.span {
  display: flex;
  justify-content:start;
  align-items: center;
  cursor: pointer;
  padding: 12px 0;
  /* margin-right: 100px; */
  margin-left: 20%;
  padding-left: 10px;
}

.span:hover{
  background-color: #181818;
  border-radius: 20px;
  /* margin-right: 50px; */
}

.span1{
  margin-right: 95px;
}

#span2{
  margin-right: 85px;
}

#span3{
  margin-right: 45px;
}

#span4{
  margin-right: 70px;
}

#span5{
  margin-right: 60px;
}

#span6, #span8{
  margin-right: 100px;
}

.span1-a{
  font-weight: bold;
}
.nav-btn{
  border: 1px solid #f91880;
  padding: 15px 90px;
  border-radius: 40px;
  background-color: #f91880;
  color: white;
  margin-top: 10px;
  margin-left: 18%;
  font-size: 15px;
  font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.nav-footer{
  display: flex;
  align-items:center;
  color: #E7E9EA;
  margin-bottom: 10px;
  width: auto;
  margin-left: 15%;
  margin-right: 10px;
  padding: 7px 0;
  padding-left: 10px;
  margin-top: 10px;
  padding-right: 50px;
}

.p-img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  /* filter: brightness(0) invert(1); */
  
}

.nav-footer:hover{
  background-color:#181818;
  border-radius: 150px;
  cursor: pointer;
}

.nav-footer-item{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#nav-footer-item-p1{
  font-weight: bolder;
}

#nav-footer-item-p2{
  font-weight:100;
}

.nav-footer-btn{
  background-color: black;
  display: flex;
  margin-left: 140px;
}

.btn{
  width: 3px;
  height:3px;
  border-radius: 50%;
  margin-right: 2px;
}

.btn1, .btn2, .btn3{
  background-color: white;
}

.nav-footer-profile{
  display: flex;
  flex-direction: column;
}
/* winnie */
a {
  text-decoration: none;
}
/* .home {
  display: grid;
  grid-template-columns: 23% 44% 33%;
  margin: 0 auto;
} */
.sixth a {
  color: rgb(91, 95, 100);
}
.follow {
  background-color: rgb(22, 24, 28);
  padding: 15px 15px 10px 15px;
  margin: 0px 90px -1px 30px;
  display: flex;
  justify-content: space-between;
}
.follow1 {
  display: flex;
}
.who {
  background-color: rgb(22, 24, 28);
  margin: 10px 90px -1px 30px;
  padding: 10px 0px 10px 15px;
  border-radius: 1em 1em 0 0;
  width: 355px;
}
.more-win {
  background-color: rgb(22, 24, 28);
  margin: 0px 90px 0px 30px;
  padding: 15px 0px 20px 15px;
  border-radius: 0 0 1em 1em;
}
.follow:hover,
.more-win:hover {
background-color: #1D1F23;
}

.links1, .links2, .links3{
  display: block;
  padding-left: 10px;
}
.msgs {
  font-size: 20px;
  font-weight: bolder;
  background-color: #000000;
  padding: 10px 20px 8px 15px;
  border: 1px solid rgb(91, 95, 100);
  width: 368px;
  position: fixed;
  right: 20px;
  bottom: 0px;
  border-radius: 20px 20px 0 0;
  display: inline-flex;
  justify-content: space-between;
  box-shadow: 0 0 10px;
}
.profilepic {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  object-position: left;
}
.follow-button {
  padding: 0px;
  border-radius: 20px;
  font-weight: bolder;
  width: 80px;
  height: 30px;
  border: none;
}
.follow-button:hover {
  background-color: #d7dbdc;
}
.footer-link {
  margin: 0 120px 0 40px;
}
.footer-links {
  font-size: 13px;
  padding: 4px;
}
.footer-links:hover{
  text-decoration: underline;
}
.copyright {
  color: rgb(91, 95, 100);
  /* line-height:0; */
  font-size: 13px;
}
.last-a,.last-b{
/* width: 55px; */
padding: 4px;
width:25px;
}
.last-a:hover, .last-b:hover {
background-color: rgb(91, 95, 100);
border-radius: 50%;
}

.follow-box{
  width: 475px;
}

.last-a:hover + .new {
background-color: rgb(91, 95, 100);
display: block;
}
.feather{
  display: none;
}
footer{
  display: none;
}
/* CSS for mobile responsiveness */

@media (max-width:600px) {
  /* Yelex and Daniel */
   
   /* #span2,  #span5, #span6, #span8, #profile, .nav-btn, .nav-footer, .work, .twitter{ */
    .left{
    display:none;
   }
   .span-a, #home{
    display: none;
   }
/* Idris part */
  .tweet_H1{
    display: none;
  }
   .tweet_H3{
    display: none;
   }
   .gen-head{
    display: flex;
    justify-content: space-between;
   }
   .resp-head{
    display: flex;
    margin-left: 12px;
    margin-top: 12px;
   }
   .resp-home{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.15em;;
    font-weight: bold;
    padding-left: 15px;
    align-items: center;
   }
   .twi{
    margin-right: 12px;
    margin-top: 12px;
   }
   .mr{
    border-radius: 50%;
    cursor: pointer;
   }

   .wh{
    display: none;
   }

   .Profile_Pic{
     display: none;
    
   }
/* Ngozi's part */
   .layout{
    display: flex;
    grid-template-columns:none;
    margin: 0 auto;
     width:100%;   
       /* padding-right: 16px;  */
    /* padding-left: 16px; */
    overflow: hidden;
   }
   p, h4, .tweet-content {
   font-weight: 400;
   font-size: 15px;
   line-height: 20px;
   overflow-wrap: breakword;
   }
   
 
.first-container{
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #888;;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: -1px;
  padding-top:12px;
}
 
.feather{
  /* display:block;
  border-radius: 50%; */
  /* height: 10%;
  width: 10%; */
}

footer{
  border-top: 1px solid #888;
  position: fixed; 
   bottom: 0;
   width: 100%;
   background-color: #000000;
}

ul{
  margin-left: 50px;
  margin-right: 50px;
   display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: fixed;
  bottom: 0; */
  /* width: 100%;
  height: 100%; */
}
#home, #Notification, #message, #thick-search{

  display:block;
  width: 50%;
  height: 50%;
  filter:brightness(0) invert(1);
}

/* For Tomi's part */
  .main-div{
    display:none;
  }

/* Winnie's part */
   .who{
    display:none;
   }
   .more-win{
    display:none;
   }
   .follow{
    display: none;
   }
   .sixth{
    display:none;
   }
   .msgs{
    display:none;
   }
   

  }

