 *{
    padding: 0;
    margin: 0; 
     box-sizing: border-box; 
} 
body{
    background: #000000;
    color: #eee;
    font-size:15px;
    line-height: normal;
    letter-spacing: normal;
}
.layout{
  display: grid;
  /* grid-template-columns: 275px auto 350px; */
  grid-template-columns: 20% 50% 30%;
  margin: 0 auto;
 font-family: "Times New Roman";
 

}
p{
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    text-align: start;
    letter-spacing: normal;
    color: #e7e9ea;
}
.main{
  color:#eee;
  display: flex;
  /* width: 100%;  */
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  margin-bottom: 2px;
  padding: 20px 25px;
 }
.tweet{
    display: flex;
}
.tweet-profile{
    display: flex;
} 

.dp{
    size: 20px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}
.sec-dp{
    size: 20px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}



.tweet_username{
font-size: 15px;
font-weight: 700;
color: #14171a;
margin-right: 5px;
}

.tweet-at{
color: #71767b;
font-size: 15px;
opacity: 0.4;
}
/* 
.tweet-date{
  margin left:
} */

.tweet-image{
width: 100%;
} 

.tweet-icons{
    color: #000000;
    align-items: space-between;
}

.more-one{
    display: flex;
    justify-content: space-between;
}

.show{
   color: #f91880;
}

.right{
    position: fixed;
}
/* tHE NEW  FOOTER */
.footer{
    margin-top: 15px;
    margin-left: 15px;
}
.footer a{
    text-decoration: none;
    font-size: 14px;
    color:rgb(113, 118, 123);
    padding-right: 5px;
       
}

.footer p{
    font-size: 13px;
    color:rgb(113, 118, 123);
    margin-top: 3px;
}
.footer a:hover{
    text-decoration: underline;
}