 *{
    padding: 0;
    margin: 0; 
     box-sizing: border-box; 
} 
body{
    background: black;
    color: #eee;
}
.layout{
  display: grid;
  grid-template-columns: 275px auto 350px;
  margin: 0 auto;

}

.main{
  color:#eee;
  display: flex;
  /* width: 100%; */
  border-bottom: 1px solid;
  border-left: 1px solid;
  margin-bottom: 2px;
  padding: 20px 25px;
 }
.tweet{
    display: flex;
}
.tweet-profile{
    display: flex;
} 

.dp{
    size: 20px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}
.sec-dp{
    size: 20px;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    margin-right: 10px;
}



.tweet_username{
font-size: 15px;
font-weight: 700;
color: #14171a;
margin-right: 5px;
}

.tweet-at{
color: beige;
font-size: 15px;
opacity: 0.4;
}

.tweet-date{
  margin left:
}

.tweet-content{

} 

.tweet-icons{
    
}
.right{
    position: fixed;
}
/* tHE NEW  FOOTER */
.footer{
    margin-top: 15px;
    margin-left: 15px;
}
.footer a{
    text-decoration: none;
    font-size: 14px;
    color:rgb(113, 118, 123);
    padding-right: 5px;
       
}

.footer p{
    font-size: 13px;
    color:rgb(113, 118, 123);
    margin-top: 3px;
}
.footer a:hover{
    text-decoration: underline;
}